<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/container.css">
</head>
<body>
    <div id="container">
        <div id="left-container">
            <%- include('sidebar') %>
        </div>
        <!-- Nội dung gồm sidebar và content để load -->
        <div id="right-container">
            <!-- Thanh điều hướng (navbar) -->
            <nav>
                <%- include('navbar') %>
            </nav>
            <div id="main-page">
                <div id="content">
                    <%- include(view) %> <!-- Nội dung thay đổi trong đây -->
                </div>
            </div>
        </div>
        
        <!-- Phần thanh progres nhạc -->
        <div id="music-player">
            <%- include('player') %>
        </div>
        
    </div>
</body>
<script src="/js/container.script.js"></script>
</html>