<link rel="stylesheet" href="/css/player.css">
<div class="footer-player">
    <div class="current-song">Listening on ASUS-ROG...</div>
        <audio controls>
            <source src="/music/sample.mp3" type="audio/mp3">
        </audio>
    <div class="player-controls">
        <button onclick="playAudio()">Play</button>
        <button onclick="pauseAudio()">Pause</button>
        <button>Next</button>
    </div>
</div>

<script>
    function playAudio() {
        document.querySelector('.footer-player audio').play();
    }

    function pauseAudio() {
        document.querySelector('.footer-player audio').pause();
    }
</script>