<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head> 
<body>
    Hello from sample.ejs
    <div>
        <img class="page-img" src="/images/Untitled.png" alt="img">
    </div>
</body>
</html>