<link rel="stylesheet" href="/css/sidebar.css">
<aside id="sidebar">
    <div class="logo">
        <img src="/images/pinterest_profile_image.png" alt="Logo" height="70px">
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Library</a></li>
    </ul>
    <ul>
        <li><a href="#">Create Playlist</a></li>
        <li><a href="#">Liked Songs</a></li>
        <li><a href="#">Your Episodes</a></li>
    </ul>
    <ul></ul>
</aside>
