<link rel="stylesheet" href="/css/sidebar.css">
<aside>
    <ul id="sidebar">
        <li><a href="#">Side 1</a></li>
        <li><a href="#">Side 2</a></li>
        <li><a href="#">Side 3</a></li>
        <li><a href="#">Side 4</a></li>
        <li><a href="#">Side 5</a></li>
    </ul>
</aside>
