<link rel="stylesheet" href="/css/sidebar.css">
<div class="logo">
    <img src="/images/pinterest_profile_image.png" alt="Logo" height="70px">
</div>
<aside>
    <ul id="sidebar">
        <li><a href="#">Side 1</a></li>
        <li><a href="#">Side 2</a></li>
        <li><a href="#">Side 3</a></li>
        <li><a href="#">Side 4</a></li>
        <li><a href="#">Side 5</a></li>
    </ul>
</aside>
