#navbar {
	overflow: hidden;
	background-color: var(--main-bg-color);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

#navbar > li > a {
	float: left;
	font-size: 16px;
	text-align: center;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	font-size: 14px;
	border: none;
	outline: none;
	color: white;
	background-color: #0a0a0a;
	font-family: inherit;
	margin: 0;
	padding-right: 15px;
	border-radius: 30px;
	max-width: 200px;
	min-width: 10px;
	margin-right: 30px;
}
#avatar {
	width: 40px !important;
	min-width: 40px !important;
	height: 40px;
	border-radius: 50%;
}

#avatar + span {
	line-height: 30px;
	text-align: center;
	height: 30px;
	margin-top: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1001;
	background-color: #f9f9f9;
	min-width: 130px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.dropdown-content a {
	float: none;
	display: block;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

.navbar-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.navbar-left > div {
	display: inline-block;
}
.navbar-buttons {
	margin-left: 25px;
}
.nav-button {
	padding: 10px 15px;
	background-color: #131313;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 25px;
}

.nav-button:hover {
	background-color: #555;
}
