.footer-player {
	background-color: var(--player-bg);
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	position: fixed;
	height: 10%;
	bottom: 0;
	width: 100%;
	left: 0;
	gap: 15px;
}

.player-track-title a {
	color: var(--main-text-color);
	text-decoration: none;
	font-size: large;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.player-track-title a:hover {
	text-decoration: underline;
}
.player-track-artist {
	color: gray;
}

.control-btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #333;
	border: none;
	color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease;
	font-size: 18px; /* Ensure icon size is appropriate */
}

.control-btn:hover {
	background-color: rgb(40, 69, 85);
}

#player-song-info {
	display: flex;
	flex-direction: row;
	width: 25%;
	margin: 0;
	gap: 15px;
	padding: 10px;
}

.player-song-details {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.player-album-img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.player-controls {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.player-control-btn {
	display: flex;
	gap: 15px; /* Space between buttons */
	margin: auto;
}

.player-volume {
	width: 25%;
	margin: auto;
}

.player-volume input {
	cursor: pointer;
}

.progress-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 5px;
	justify-content: space-between;
}

.progress-bar input {
	width: 85%;
	cursor: pointer;
}

.queue-manip {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.manip-btn {
	position: relative;
	cursor: pointer;
	background: transparent;
}

.manip-btn::after {
	content: "";
	position: absolute;
	bottom: 3px;
	left: 50%;
	transform: translateX(-50%);
	height: 6px;
	width: 6px;
	background-color: green;
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.3s;
}

.manip-btn.active::after {
	opacity: 1;
}

.manip-btn.active {
	color: green;
}

.interact {
	display: flex;
	flex-direction: row;
	width: 25%;
	align-items: center;
	gap: 20px;
}
