.playlist-detail-page {
	font-family: "Helvetica Neue", Arial, sans-serif;
	background-color: #121212;
	color: var(--main-text-color);
	padding: 20px;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.playlist-header {
	background: var(--card-color-light);
	background: -moz-linear-gradient(180deg, var(--card-color-light) 30%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(180deg, var(--card-color-light) 30%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(180deg, var(--card-color-light) 30%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252c3a",endColorstr="#ffffff",GradientType=1);
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 20px;
	width: 40%;
	height: 65vh;
}

.playlist-header h1 {
	margin: 0;
	font-size: 2.5em;
}

.playlist-info {
	margin-top: 15px;
	font-size: 1.2em;
}

.playlist-info p {
	margin: 5px 0;
}

.playlist-info strong {
	font-weight: bold;
}

.tracks-section {
	background-color: var(--secondary-bg-color);
	padding: 20px;
	border-radius: 8px;
	width: 60%;
	height: 100%;
}

.tracks-section h2 {
	margin-bottom: 15px;
	font-size: 2em;
}

.songs-list {
	padding: 20px;
	background-color: var(--secondary-bg-color);
	margin: 20px;
	border-radius: 8px;
}

.songs-list h2 {
	margin-bottom: 10px;
	font-size: 1.5em;
}

.visibility-change-form form {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: start;
}

.visibility-change-form p {
	color: var(--secondary-text-color);
	font-size: larger;
}

.visibility-change-form label {
	margin-right: 10px;
	color: var(--main-text-color);
}

.visibility-change-form select {
	padding: 5px;
	font-size: large;
	border-radius: 4px;
	background-color: var(--secondary-bg-color);
	color: var(--main-text-color);
	border: 1px solid var(--card-color-dark);
}

.visibility-change-form button {
	background-color: #192635;
	color: var(--main-text-color);
	font-size: large;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.visibility-change-form button:hover {
	background-color: #3a5a7c;
}
