<<<<<< frontend/playlistUI
main {
	padding: 30px;
}
.top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.greeting {
	color: var(--main-text-color);
}

.create-playlist {
	display: inline-block;
	padding: 10px 20px;
	background-color: var(--main-bg-color); /* Replace with your button color */
	color: var(--main-text-color); /* Replace with your text color */
	text-align: center;
	text-decoration: none; /* Removes underline */
	border-radius: 5px; /* Rounded corners */
	font-weight: bold;
	font-size: 14px;
	max-height: 17px;
	transition: background-color 0.3s ease, transform 0.2s ease;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.create-playlist:hover {
	background-color: var(--sidebar-tab-hover);
	transform: scale(1.05);
}

.create-playlist:active {
	background-color: var(--sidebar-tab-active);
	transform: scale(0.98);
}

.playlist-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
	width: 100%;
}

.playlist-card {
	width: 200px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
  background-color: var(--card-color-dark);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.playlist-card:hover {
	transform: translateY(-10px);
	box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
}

.playlist-cover {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

.playlist-title {
	font-size: large;
	color: var(--main-text-color);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.playlist-title a {
	text-decoration: none;
	color: var(--main-text-color);
	line-height: 30px;
	text-align: center;
}

.playlist-title:hover {
	text-decoration: underline;
}

.playlist-owner {
	color: gray;
}