#sidebar {
	display: flex;
	flex-direction: column;
	background-color: var(--sidebar-bg);
	height: 100%;
	box-shadow: 3px 0px 36px 3px rgba(0, 0, 0, 1);
	position: absolute;
	z-index: 2;
}
#sidebar ul {
	padding: 0;
}
#sidebar li {
	list-style-type: none;
	padding-bottom: 20px;
}
#sidebar a {
	text-decoration: none;
	color: var(--main-text-color);
}
