#sidebar {
	display: flex;
	flex-direction: column;
	background-color: var(--sidebar-bg);
	height: 100%;
	box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
	position: absolute;
	z-index: 2;
	width: inherit;
}

#sidebar .logo {
	background-color: #334854;
}

#sidebar ul {
	padding: 0;
}
#sidebar li {
	list-style-type: none;
}
#sidebar a {
	display: inline-block;
	text-decoration: none;
	color: var(--main-text-color);
	font-size: 20px;
	font-weight: lighter;
	padding: 15px;
	padding-left: 20px;
	width: 85%;
	border-radius: 15px;
}

#sidebar a i {
	margin-right: 10px;
}

#sidebar a[active] {
	background-color: #4d27db;
}
