<link rel="stylesheet" href="/css/navbar.css">
<div id="navbar">
    <div class="navbar-left">
        <div class="navbar-buttons">
            <button class="nav-button" onclick="window.location.href='./index.html'">
                <i class="bi bi-arrow-left-circle"></i>
            </button>
            <button class="nav-button" onclick="history.forward()">
                <i class="bi bi-arrow-right-circle"></i>
            </button>
        </div>
    </div>
    <div class="dropdown navbar-right">
        <button class="dropbtn" onclick="dropdown()">
            <img src="/images/profile-pic.jpg" alt="avatar" id="avatar">
            <span class="username"><%= username %></span>
        </button>
        <div class="dropdown-content" id="dropdown-profile">
            <a href="#">Account</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

</div>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function dropdown() {
        document.getElementById("dropdown-profile").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.dropbtn')) {
            var profileDrop = document.getElementById("dropdown-profile");
            if (profileDrop.classList.contains('show')) {
                profileDrop.classList.remove('show');
            }
        }
    }
</script>