<link rel="stylesheet" href="/css/navbar.css">
<div id="navbar">
    <div class="navbar-left">
    </div>
    <div class="dropdown navbar-right">
        <button class="dropbtn" onclick="dropdown()">
            <img src="<%= user.user_profile_pic %>" alt="avatar" id="avatar">
            <span class="username"><%= username %></span>
        </button>
        <div class="dropdown-content" id="dropdown-profile">
            <a href="#">Account</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

</div>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function dropdown() {
        document.getElementById("dropdown-profile").classList.toggle("show");
    }
</script>