<link rel="stylesheet" href="/css/sidebar.css">
<aside id="sidebar">
    <div class="logo">
        <img src="/images/pinterest_profile_image.png" alt="Logo" height="70px">
    </div>
    <ul>
        <li><a href="/home" class="side-link" active><i class="bi bi-house-door-fill"></i>Home</a></li>
        <li><a href="#" class="side-link"><i class="bi bi-search"></i>Search</a></li>
        <li><a href="#" class="side-link"><i class="bi bi-collection-play-fill"></i>Library</a></li>
    </ul>
    <ul>
        <li><a href="/playlists" class="side-link"><i class="bi bi-plus-square-fill"></i>Playlists</a></li>
        <li><a href="/tracks" class="side-link"><i class="bi bi-chat-square-heart-fill"></i></i>Liked Songs</a></li>
        <li><a href="/artists" class="side-link"><i class="bi bi-wifi"></i>Artists</a></li>
    </ul>
    <ul>

    </ul>
</aside>

<script>
    sideLinks = document.querySelectorAll(".side-link")

    sideLinks.forEach(link => {
        console.log(link)
        link.addEventListener('click', function () {
            sideLinks.forEach(link => {
                link.removeAttribute('active')
            });
            this.setAttribute('active', '')
            console.log(this.getAttributeNames())
        })
    });
</script>